<!DOCTYPE html>
<html lang="en">
<head>
  <title>Decider</title>

  <link href="https://fonts.googleapis.com/css?family=Asap+Condensed|Montserrat:400,800|Gugi" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

  <body>
    <div class="jumbotron-fluid mx-auto">
      <nav class="nav">
          <a class="navbar-brand" href="/">
            <a class="navbar-brand p-0" href="/">
                <i class="owl fa-3x fab fa-earlybirds"></i>
              <span>Decider</span>
            </a>
          </a>
        </nav>
    <section class="home poll-options-page container-fluid">
      <h1 class="main-header">Poll Created!</h1>
      <fieldset>
        <h2 class="main-header">What movie should we see?</h2>
            <h4 class="opTitle" id="share-poll">Share</h4>
            <a class="links" href="http://<%= host %>/polls/<%= id %>"><%= host %>/polls/<%= id %></a>
            <h4 class="opTitle" id="poll-results">Results</h4>
            <a class="links" href="http://<%= host %>/polls/<%= id %>/result"><%= host %>/<%= id %>/results</a>
      </fieldset>
    </section>
    </div>
  </body>
</html>
