<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Decider - Poll</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/voting-page.js"></script>
     <script
    src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
    integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
    crossorigin="anonymous"></script>
    <script>
    $( function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    } );
    </script>
  </head>

  <body>
    <div class="mx-auto text-center" style="width:50vh">
      <h1 class="poll-title"><%= results[0].ptitle %></h1>
      <h2 data-pollid="<%= results[0].poll_id %>">Rank the Options!</h2>
      <ul class="options" id="sortable">
        <% results.forEach(function(e) { %>
          <li class="ui-state-default singleOption" data-id="<%= e.id %>" data-rank="<%= e.rank %>">
            <p><%= e.title %></p>
            <p class="desc d-none"><%= e.description %></p>
          </li>
      <% }) %>
      </ul>
    </div>
    <form method="PUT" class="mx-auto text-center" style="width:50vh">
      <button id="submitVote" type="submit" action=>Submit</button>
    </form>
  </body>
</html>
